{:deps
 {org.postgresql/postgresql {:mvn/version "42.2.5"}
  org.clojure/java.jdbc  {:mvn/version "0.7.12"}
  io.pedestal/pedestal.service {:mvn/version "0.5.7"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.7"}
  io.pedestal/pedestal.route {:mvn/version "0.5.7"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.28"}
  buddy/buddy-auth {:mvn/version "2.1.0"}
  buddy/buddy-core {:mvn/version "1.4.0"}
  buddy/buddy-hashers {:mvn/version "1.3.0"} 
  honeysql/honeysql {:mvn/version "1.0.444"}
  seancorfield/next.jdbc {:mvn/version "1.1.613"}}
 :paths ["src/kyrosendpoint"]}